<section>
  <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.customerForm" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
            <div class="col-sm-6 text-center">
              <i class="glyphicon glyphicon-user cust-profile" ng-class="{'text-primary': vm.customer.referred, 'text-danger': !vm.customer.referred}"></i>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label class="control-label" for="firstName">firstName</label>
                <input name="firstName" type="text" ng-model="vm.customer.firstName" id="firstName" class="form-control">
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="surname">surname</label>
                <input name="surname" type="text" ng-model="vm.customer.surname" id="surname" class="form-control">
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="suburb">suburb</label>
                <input name="suburb" type="text" ng-model="vm.customer.suburb" id="suburb" class="form-control">
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="country">country</label>
                <input name="country" type="text" ng-model="vm.customer.country" id="country" class="form-control">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="phone">phone</label>
              <input name="phone" type="text" ng-model="vm.customer.phone" id="phone" class="form-control">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="email">email</label>
              <input name="email" type="text" ng-model="vm.customer.email" id="email" class="form-control">
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="referred">referred</label>
              <input name="referred" type="checkbox" ng-model="vm.customer.referred" id="referred" class="form-control checkbox-left">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="channel">channel</label>
              <input name="channel" type="text" ng-model="vm.customer.channel" id="channel" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="industry">industry</label>
              <input name="industry" type="text" ng-model="vm.customer.industry" id="industry" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-large btn-success">{{vm.customer._id ? 'Update' : 'Create'}}</button>
            </div>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
